*.aux
*.blg
*.log
*blx.bib
*.out
*.bbl
*.pdf
*.xml
*.toc
*.lot
.*.sw*
.sw*
.DS_Store
projektarbeit.acn
projektarbeit.acr
projektarbeit.alg
projektarbeit.glg
projektarbeit.glo
projektarbeit.gls
projektarbeit.glsdefs
projektarbeit.ist
